{% extends '../base.html' %}  <!-- Extends the base template -->
{% load static %}  <!-- Loads static files for images, CSS, etc. -->

{% block title %} Profile {% endblock %}  <!-- Sets the page title -->
{% block content %}

<div class="wrapper">



  <!-- Main Sidebar Container -->
 {% include 'Side_Navbar.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
             <div class="text-center">
                <img
                  class="profile-user-img img-fluid img-circle"
                  src="{{ employee.profile_picture.url }}"
                  alt="User profile picture"
                  style="cursor: pointer;"
                  data-bs-toggle="modal"
                  data-bs-target="#profileImageModal"
                >
              </div>
                <!--Modal for profile image-->
                <div class="modal fade" id="profileImageModal" tabindex="-1" aria-labelledby="profileImageModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content bg-transparent border-0">
                      <div class="modal-body text-center">
                        <img
                          src="{{  employee.profile_picture.url}}"
                          alt="Profile Large"
                          class="img-fluid rounded"
                        >
                      </div>
                    </div>
                  </div>
                </div>


                <h3 class="profile-username text-center">{{employee.name}}</h3>

                <p class="text-muted text-center">{{employee.department.name}}</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Designation</b> <a class="float-right">{{employee.designation.title}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Role</b> <a class="float-right">{{employee.role}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Date of Joining</b> <a class="float-right">{{employee.date_of_join}}</a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
                <div class="card card-primary" >
               <div class="card-header d-flex align-items-center">
                  <h3 class="card-title mb-0">About Me</h3>

                  <!-- Edit Button -->
                  <button class="btn btn-sm btn-primary ms-auto" data-toggle="modal" data-target="#editModal">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </div>


                  <div class="card-body">

                    <!-- Phone -->
                    <div class="mb-3">
                      <strong><i class="fas fa-book mr-1"></i> Phone</strong>
                      <p class="text-muted mb-0">{{ employee.phone_number }}</p>
                    </div>
                    <hr>

                    <!-- Email -->
                    <div class="mb-3">
                      <strong><i class="fas fa-map-marker-alt mr-1"></i> Email</strong>
                      <p class="text-muted mb-0" style="word-wrap: break-word; white-space: normal;">
                        {{ employee.email }}
                      </p>
                    </div>
                    <hr>

                    <!-- Birthday -->
                    <div class="mb-3">
                      <strong><i class="fas fa-pencil-alt mr-1"></i> Birthday</strong>
                      <p class="text-muted mb-0"><span class="badge badge-danger">{{ employee.dob }}</span></p>
                    </div>
                    <hr>

                    <!-- Address -->
                    <div class="mb-3">
                      <strong><i class="far fa-file-alt mr-1"></i> Address</strong>
                      <p class="text-muted mb-0">{{ employee.current_address }}</p>
                    </div>
                    <hr>

                    <!-- Gender -->
                    <div class="mb-3">
                      <strong><i class="far fa-file-alt mr-1"></i> Gender</strong>
                      <p class="text-muted mb-0">{{ employee.gender }}</p>
                    </div>
                    <hr>

                    <!-- Reported to -->
                    <div class="mb-3">
                      <strong><i class="far fa-file-alt mr-1"></i> Reported to</strong>
                      <p class="text-muted mb-0">{{ employee.reporting_manager|default:"-" }}</p>
                    </div>

                  </div>
                </div>

        </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card" >
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
                  <li class="nav-item"><a class="nav-link" href="#document" data-toggle="tab">Document</a></li>
                  <li class="nav-item"><a class="nav-link" href="#timesheet" data-toggle="tab">Timesheet</a></li>
                  <li class="nav-item"><a class="nav-link" href="#leave" data-toggle="tab">Leave</a></li>
                  <li class="nav-item"><a class="nav-link" href="#project" data-toggle="tab">Project</a></li>
                  <li class="nav-item"><a class="nav-link" href="#task" data-toggle="tab">Task</a></li>
                  <li class="nav-item"><a class="nav-link" href="#assests" data-toggle="tab">Assets</a></li>

                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
        <div class="active tab-pane" id="activity" style="max-height: 600px; overflow-y: auto;">
                    <div class="row">

                        <!-- Personal Information Card -->
                        <div class="col-12 mb-4">
                            <div class="card card-primary h-100">
                                <div class="card-header d-flex justify-content-between">
                                    <h3 class="card-title">Personal Information</h3>
                                    <button class="btn btn-sm btn-primary ml-auto" data-toggle="modal" data-target="#editModal">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </div>
                                <div class="card-body">
                                    <!-- Passport -->
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <strong><i class="fas fa-passport mr-1"></i> Passport:</strong>
                                        <p class="text-muted mb-0">{{ employee.passport }}</p>
                                    </div>
                                    <hr>

                                    <!-- Passport No. -->
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <strong><i class="fas fa-id-card mr-1"></i> Passport No.:</strong>
                                        <p class="text-muted mb-0 text-right" style="flex-grow: 1;">12345643212323452352524</p>
                                    </div>
                                    <hr>

                                    <!-- Telephone -->
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <strong><i class="fas fa-phone-alt mr-1"></i> Tel.:</strong>
                                        <p class="text-muted mb-0">{{ employee.phone_number }}</p>
                                    </div>
                                    <hr>

                                    <!-- Nationality -->
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <strong><i class="fas fa-flag mr-1"></i> Nationality:</strong>
                                        <p class="text-muted mb-0">{{ employee.nationality }}</p>
                                    </div>
                                    <hr>

                                    <!-- Religion -->
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <strong><i class="fas fa-praying-hands mr-1"></i>Religion:</strong>
                                        <p class="text-muted mb-0">{{ employee.religion }}</p>
                                    </div>
                                    <hr>

                                    <!-- Marital Status -->
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <strong><i class="fas fa-ring mr-1"></i>Marital Status:</strong>
                                        <p class="text-muted mb-0">{{ employee.marital_status }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Personal Information -->

                        <!-- Emergency Contact -->
                        <div class="col-12 mb-4">
                            <div class="card card-secondary h-100">
                                <div class="card-header d-flex justify-content-between">
                                    <h3 class="card-title">Emergency Contact</h3>
                                    <button class="btn btn-sm btn-secondary ml-auto" data-toggle="modal" data-target="#editAdditionalInfoModal">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </div>
                                <div class="card-body">
                                    <!-- Primary Contact -->
                                    <div class="mb-4">
                                        <h5 class="text-primary mb-3"><i class="fas fa-user-friends mr-2"></i>Primary Contact</h5>
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <strong><i class="fas fa-user mr-1"></i>Name:</strong>
                                            <p class="text-muted mb-0">{{ employee.primary_contact_name }}</p>
                                        </div>
                                        <hr>

                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <strong><i class="fas fa-handshake mr-1"></i>Relationship:</strong>
                                            <p class="text-muted mb-0">{{ employee.primary_contact_relationship }}</p>
                                        </div>
                                        <hr>

                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <strong><i class="fas fa-phone-alt mr-1"></i> Phone:</strong>
                                            <p class="text-muted mb-0">{{ employee.primary_contact_phone }}</p>
                                        </div>
                                    </div>

                                    <!-- Secondary Contact -->
                                    <div>
                                        <h5 class="text-danger mb-3"><i class="fas fa-user-friends mr-2"></i>Secondary Contact</h5>
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <strong><i class="fas fa-user mr-1"></i> Name:</strong>
                                            <p class="text-muted mb-0">{{ employee.secondary_contact_name }}</p>
                                        </div>
                                        <hr>

                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <strong><i class="fas fa-handshake mr-1"></i> Relationship:</strong>
                                            <p class="text-muted mb-0">{{ employee.secondary_contact_relationship }}</p>
                                        </div>
                                        <hr>

                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <strong><i class="fas fa-phone-alt mr-1"></i> Phone:</strong>
                                            <p class="text-muted mb-0">{{ employee.secondary_contact_phone }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Emergency Contact -->

                        <!-- Bank Details -->
                        <div class="col-12 mb-4">
                            <div class="card card-success h-100">
                                <div class="card-header d-flex justify-content-between">
                                    <h3 class="card-title">Bank information</h3>
                                    <button class="btn btn-sm btn-success ml-auto" data-toggle="modal" data-target="#editAdditionalInfoModal">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <strong><i class="fas fa-building mr-1"></i> Bank Name:</strong>
                                        <p class="text-muted mb-0">{{ employee.department }}</p>
                                    </div>
                                    <hr>
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <strong><i class="fas fa-briefcase mr-1"></i> Bank Account No.:</strong>
                                        <p class="text-muted mb-0">{{ employee.position }}</p>
                                    </div>
                                    <hr>
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <strong><i class="fas fa-briefcase mr-1"></i> IFSC Code:</strong>
                                        <p class="text-muted mb-0">{{ employee.position }}</p>
                                    </div>
                                    <hr>
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <strong><i class="fas fa-briefcase mr-1"></i>PAN No:</strong>
                                        <p class="text-muted mb-0">{{ employee.position }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Bank Details -->

                        <!-- Education Information -->
                        <div class="col-12 mb-4">
                            <div class="card card-warning h-100">
                                <div class="card-header d-flex justify-content-between">
                                    <h3 class="card-title">Education Informations</h3>
                                    <button class="btn btn-sm btn-warning ml-auto" data-toggle="modal" data-target="#editAdditionalInfoModal">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </div>
                                <div class="card-body">
                                    <div class="timeline">
                                        <!-- Main Timeline Item -->
                                        <div class="timeline-item mb-4 position-relative pl-4">
                                            <div class="timeline-point bg-primary position-absolute"
                                                 style="left: 0; top: 0.5rem; width: 12px; height: 12px; border-radius: 50%;">
                                            </div>

                                            <div class="pl-3">
                                                <strong><i class="fas fa-university mr-1 text-primary"></i> Laxmi Narain College Of Technology, Bhopal</strong>
                                                <ul class="list-unstyled mt-2 mb-0">
                                                    <li><i class="fas fa-laptop-code mr-1 text-muted"></i><strong>Branch:</strong> IT</li>
                                                    <li><i class="fas fa-calendar-alt mr-1 text-muted"></i><strong>Duration:</strong> June 14, 2020 - June 10, 2024</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Education Information -->

                        <!-- Experience -->
                        <div class="col-12 mb-4">
                            <div class="card card-danger h-100">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h3 class="card-title mb-0">Experience</h3>
                                    <button class="btn btn-sm btn-danger ml-auto" data-toggle="modal" data-target="#editAdditionalInfoModal">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                </div>
                                <div class="card-body">
                                    <ul class="timeline p-0 list-unstyled">
                                        <li class="mb-4 position-relative pl-4">
                                            <div class="timeline-dot bg-danger position-absolute" style="left: 0; top: 0.4rem; width: 10px; height: 10px; border-radius: 50%;"></div>
                                            <div class="ml-3">
                                                <h5 class="mb-1 text-dark font-weight-bold">BISP</h5>
                                                <p class="mb-1 text-muted"><i class="fas fa-briefcase mr-1"></i>SD</p>
                                                <small class="text-muted">
                                                    <i class="far fa-calendar-alt mr-1"></i>
                                                    12/12/2000 - 21/21/2002
                                                </small>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End Experience -->
                    </div>
                </div>

                  <!-- Document pane -->
                 <div class="tab-pane" id="document">
                    <!-- Card for document upload -->
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="card-title mb-0">Documents</h5>
                            <!-- Upload Button aligned to the right -->
                            <button class="btn btn-success ms-auto" data-bs-toggle="modal" data-bs-target="#uploadModal">Upload Document</button>
                        </div>

                        <div class="card-body">
                            <!-- Table for displaying uploaded documents -->
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Document Name</th>
                                        <th scope="col">Upload Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="path/to/document1.pdf" target="_blank">Document 1</a></td>
                                        <td>2025-04-30</td>
                                        <td><a href="path/to/document1.pdf" class="btn btn-primary" download>Download</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="path/to/document2.pdf" target="_blank">Document 2</a></td>
                                        <td>2025-04-29</td>
                                        <td><a href="path/to/document2.pdf" class="btn btn-primary" download>Download</a></td>
                                    </tr>
                                    <!-- Add more rows as documents are uploaded -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Upload Document Modal -->
                    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="uploadModalLabel">Upload New Document</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="/upload-document/" method="POST" enctype="multipart/form-data">
                                        <!-- File Input -->
                                        <div class="mb-3">
                                            <label for="documentFile" class="form-label">Select Document</label>
                                            <input type="file" class="form-control" id="documentFile" name="documentFile" required>
                                        </div>
                                        <!-- Submit Button -->
                                        <button type="submit" class="btn btn-primary">Upload</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  <!-- Document-pane -->

              <!-- Timesheet Pane -->
                    <div class="tab-pane" id="timesheet">
                      <div class="card my-3 shadow-sm">
                        <div class="card-header d-flex justify-content-between align-items-center">
                          <h6 class="m-0">Timesheet Records</h6>

                          <div class="ms-auto">
                            <button onclick="downloadTableAsCSV('timesheetTable')" class="btn btn-sm btn-primary">
                              <i class="fas fa-download"></i> Export CSV
                            </button>
                          </div>
                        </div>

                        <div class="card-body table-responsive"  style="max-height: 650px; overflow-y: auto;">
                          <table id="timesheetTable" class="table table-striped table-bordered">
                            <thead class="thead-light">
                               <tr>
                              <th>Project</th>
                              <th>Task</th>
                              <th>Date</th>
                              <th>Start Time</th>
                              <th>End Time</th>
                              <th>Hours</th>
                              <th>Description</th>
                              <th>Attachment</th>
                            </tr>
                            </thead>
                            <tbody>
                             {% for record in records %}
                              <tr>
                                <td>{{ record.task.project.project_name }}</td>
                                <td>{{ record.task.task_title }}</td>
                                <td>{{ record.date }}</td>
                                <td>{{ record.start_time }}</td>
                                <td>{{ record.end_time }}</td>
                                <td>{{ record.hours }}</td>

                                <!-- Description with a modal trigger -->
                                <td>
                                  {{ record.record_name|truncatewords:3 }}
                                  <a href="#" data-bs-toggle="modal" data-bs-target="#DescModal{{ record.id }}" class="text-decoration-none text-primary">..more</a>
                                </td>

                                <!-- Modal for Full Description -->
                                <div class="modal fade" id="DescModal{{ record.id }}" tabindex="-1" aria-labelledby="descModalLabel{{ record.id }}" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-sm">
                                    <div class="modal-content border-0 shadow-sm rounded-3">
                                      <div class="modal-header bg-light">
                                        <div class="w-100 text-center">
                                          <h6 class="modal-title fw-semibold m-0" id="descModalLabel{{ record.id }}">Full Description</h6>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body small">
                                        {{ record.record_name }}
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <!-- Attachment -->
                                {% if record.attachment %}
                                  <td><a href="{{ record.attachment.url }}" target="_blank">View Attachment</a></td>
                                {% else %}
                                  <td>No Attachment</td>
                                {% endif %}
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- End Timesheet Pane -->

             <!-- leave pane -->
            <div class="tab-pane" id="leave">
              <div class="card my-3 shadow-sm">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="m-0">Leave Records</h6>

                  <div class="ms-auto">
                    <button onclick="downloadTableAsCSV('leaveTable')" class="btn btn-sm btn-primary">
                      <i class="fas fa-download"></i> Export CSV
                    </button>
                  </div>
                </div>

                <div class="card-body"  style="max-height: 650px; overflow-y: auto;">
              <table id="leaveTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                      <th>Leave Type</th>
                      <th>Leave Days</th>
                      <th>Reason</th>
                      <th>Status</th>
                      <th>Apply Date</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Action By</th>
                    </tr>

                </thead>
                <tbody>
                {% for employee in employees %}
                  {% for leave in employee.leave_set.all %}
                    <tr>
                      <td>{{ leave.leave_type.name }}</td>
                      <td>{{ leave.leave_days  }}</td>
                      <td>
                          {{ leave.reason|truncatewords:3 }}  <a href="#" data-bs-toggle="modal" data-bs-target="#reasonModal{{ leave.id }}" class="text-decoration-none text-primary">more</a>
                      </td>
                       <!-- Modal for Full Reason -->
                          <div class="modal fade" id="reasonModal{{ leave.id }}" tabindex="-1" aria-labelledby="reasonModalLabel{{ leave.id }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-sm">
                              <div class="modal-content border-0 shadow-sm rounded-3">
                                <div class="modal-header bg-light">
                                  <div class="w-100 text-center">
                                  <h6 class="modal-title fw-semibold m-0" id="reasonModalLabel{{ leave.id }}">Full Reason</h6>
                                  </div>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body small">
                                  {{ leave.reason }}
                                </div>
                              </div>
                            </div>
                          </div>
                     <td class="text-center">
                      <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle
                          {% if leave.status == 'Pending' %} bg-warning text-dark
                          {% elif leave.status == 'Approved' %} bg-success
                          {% elif leave.status == 'Rejected' %} bg-danger
                          {% else %} bg-secondary
                          {% endif %}
                        " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {{ leave.status }}
                        </button>

                        <ul class="dropdown-menu">
                          {% if leave.status != 'Withdrawn' %}
                            <li>
                              <a class="dropdown-item text-danger" href="{% url 'withdraw_leave' leave.id %}" onclick="return confirm('Are you sure you want to withdraw this leave?');">
                                <i class="fas fa-user-slash"></i>  Withdraw
                              </a>
                            </li>
                          {% else %}
                            <li>
                              <span class="dropdown-item text-muted">Already Withdrawn</span>
                            </li>
                          {% endif %}
                        </ul>
                      </div>
                      {% if leave.status == 'Rejected' and leave.reject_reason %}
                          <a href="#"
                                   data-bs-toggle="tooltip"
                                   title="{{ leave.reject_reason }}"
                                   data-bs-placement="left">
                                   Reason
                           </a>
                      {% endif %}
                    </td>

                      <td>{{leave.apply_date}}</td>
                      <td>{{ leave.start_date }}</td>
                      <td>{{ leave.end_date }}</td>
                      <td>
                            {% if leave.approved_by %}
                                {{ leave.approved_by.name }}
                            {% else %}

                            {% endif %}
                        </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="12" class="text-center">No leave records for {{ employee.name }}</td>
                    </tr>
                  {% endfor %}
                {% endfor %}
                </tbody>
              </table>
              </div>
              </div>
            </div>
            <!-- End leave pane -->


                 <!-- project pane-->
                <div class="tab-pane" id="project">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Project Details</h5>
                      <div class="ms-auto">
                      <button onclick="downloadTableAsCSV('proTable')" class="btn btn-sm btn-primary">
                        <i class="fas fa-download"></i> Export CSV
                      </button>
                      </div>
                    </div>

                    <div class="card-body table-responsive"  style="max-height: 650px; overflow-y: auto;" >
                      <table  id="proTable" class="table table-striped table-bordered">
                        <thead class="thead-light">
                          <tr>
                            <th>Project Name</th>
                            <th>Client</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Status</th>
                            <th>Team Lead</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for project in projects %}
                          <tr>
                            <td>{{ project.project_name  }}</td>
                            <td>{{ project.client_name }}</td>
                            <td>{{ project.start_date }}</td>
                            <td>{{ project.end_date }}</td>
                            <td>
                              <span class="badge
                                {% if project.status == 'Ongoing' %} bg-warning
                                {% elif project.status == 'Completed' %} bg-success
                                {% elif project.status == 'On Hold' %} bg-secondary
                                {% else %} bg-danger {% endif %}">
                                {{ project.status }}
                              </span>
                            </td>
                               <td>{{ project.leader.name }}</td>
                          </tr>
                          {% empty %}
                          <tr>
                            <td colspan="6" class="text-center text-muted">No projects found.</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--End project pane-->

           <!-- task pane-->
                <div class="tab-pane" id="task">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Task Records</h5>
                        <div class="ms-auto">
                      <button onclick="downloadTableAsCSV('tasTable')" class="btn btn-sm btn-primary">
                        <i class="fas fa-download"></i> Export CSV
                      </button>
                        </div>
                    </div>

                    <div class="card-body table-responsive"  style="max-height: 650px; overflow-y: auto;">
                      <table class="table table-bordered table-striped" id="tasTable">
                        <thead class="thead-light">
                          <tr>
                            <th>Task Title</th>
                            <th>Project</th>
                            <th>Assigned To</th>
                            <th>Status</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Priority</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for task in tasks %}
                          <tr>
                            <td>{{ task.task_title }}</td>
                            <td>{{ task.project.project_name }}</td>
                            <td>{{ task.assigned_to.name }}</td>
                            <td>
                              <span class="badge
                                {% if task.status == 'Pending' %} bg-warning
                                {% elif task.status == 'In Progress' %} bg-info
                                {% elif task.status == 'Completed' %} bg-success
                                {% else %} bg-secondary {% endif %}">
                                {{ task.status }}
                              </span>
                            </td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.end_date }}</td>
                            <td>
                              <span class="badge
                                {% if task.priority == 'High' %} bg-danger
                                {% elif task.priority == 'Medium' %} bg-warning
                                {% else %} bg-success {% endif %}">
                                {{ task.priority }}
                              </span>
                            </td>
                          </tr>
                          {% empty %}
                          <tr>
                            <td colspan="7" class="text-center text-muted">No task records available.</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--End task pane-->

             <!-- assets pane-->
                <div class="tab-pane" id="assests">
                  <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Assets Records</h5>
                         <div class="ms-auto">
                      <button onclick="downloadTableAsCSV('assetsTable')" class="btn btn-sm btn-primary">
                        <i class="fas fa-download"></i> Export CSV
                      </button>
                         </div>
                    </div>

                    <div class="card-body table-responsive"  style="max-height: 650px; overflow-y: auto;">
                      <table class="table table-bordered table-striped" id="assetsTable">
                        <thead class="thead-light">
                          <tr>
                            <th>Asset Name</th>
                            <th>Asset Type</th>
                            <th>Assigned To</th>
                            <th>Condition</th>
                            <th>Acquisition Date</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for asset in assets %}
                          <tr>
                            <td>{{ asset.name }}</td>
                            <td>{{ asset.asset_type }}</td>
                            <td>{{ asset.assigned_to.name }}</td>
                            <td>
                              <span class="badge
                                {% if asset.condition == 'New' %} bg-success
                                {% elif asset.condition == 'Good' %} bg-info
                                {% elif asset.condition == 'Fair' %} bg-warning
                                {% else %} bg-danger {% endif %}">
                                {{ asset.condition }}
                              </span>
                            </td>
                            <td>{{ asset.acquisition_date }}</td>
                            <td>
                              <span class="badge
                                {% if asset.status == 'Active' %} bg-success
                                {% elif asset.status == 'Inactive' %} bg-secondary
                                {% elif asset.status == 'Under Maintenance' %} bg-warning
                                {% else %} bg-danger {% endif %}">
                                {{ asset.status }}
                              </span>
                            </td>
                          </tr>
                          {% empty %}
                          <tr>
                            <td colspan="6" class="text-center text-muted">No asset records available.</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--End assets pane-->


                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

      <!-- Modal for Editing -->
      <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="editModalLabel">Edit About Me</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <!-- Edit Form -->
                      <form id="editForm">
                          <!-- Phone -->
                          <div class="form-group">
                              <label for="phone_number">Phone</label>
                              <input type="text" class="form-control" id="phone_number" value="{{ employee.phone_number }}">
                          </div>
                          <!-- Email -->
                          <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" id="email" value="{{ employee.email }}">
                          </div>
                          <!-- Birthday -->
                          <div class="form-group">
                              <label for="dob">Birthday</label>
                              <input type="date" class="form-control" id="dob" value="{{ employee.dob }}">
                          </div>
                          <!-- Address -->
                          <div class="form-group">
                              <label for="current_address">Address</label>
                              <input type="text" class="form-control" id="current_address" value="{{ employee.current_address }}">
                          </div>
                          <!-- Gender -->
                          <div class="form-group">
                              <label for="gender">Gender</label>
                              <select class="form-control" id="gender">
                                  <option value="Male" {% if employee.gender == "Male" %}selected{% endif %}>Male</option>
                                  <option value="Female" {% if employee.gender == "Female" %}selected{% endif %}>Female</option>

                              </select>
                          </div>
                          <!-- Reported to -->
                          <div class="form-group">
                              <label for="reporting_manager">Reported to</label>
                              <input type="text" class="form-control" id="reporting_manager" value="{{ employee.reporting_manager|default:"-" }}">
                          </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" form="editForm">Save Changes</button>
                  </div>
              </div>
          </div>
      </div>

<!--Script for download table-->
<script>
  function downloadTableAsCSV(tableId) {
    const table = document.getElementById(tableId);
    let csv = [];

    // Loop through each row of the table
    for (let row of table.rows) {
      let rowData = [];

      // Loop through each cell in the row
      for (let cell of row.cells) {
        // Handle commas in cell content
        rowData.push('"' + cell.innerText.replace(/"/g, '""') + '"');
      }
      csv.push(rowData.join(','));
    }

    // Get the name based on the tableId
    let tableName = tableId.toLowerCase();
    let fileName = tableName + ".csv";

    // Create and trigger the download link
    let csvContent = csv.join('\n');
    let blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
    let link = document.createElement("a");
    link.href = URL.createObjectURL(blob);
    link.download = fileName;
    link.style.display = "none";
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  }
</script>

{% endblock %}