{% extends 'base.html' %}

{% block content %}
{% include 'Side_Navbar.html' %}

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="h4 text-primary">Timesheet Record</h1>
        </div>
        <div class="col-sm-6 text-end">
        </div>
      </div>
    </div>
  </section>

<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h4 class="mb-0">Timesheet Record</h4>
    </div>
    <div class="card-body">

        <table id="example1" class="table table-bordered table-striped">

                <thead>
                  <tr>
                    <th>Project</th>
                    <th>Task</th>
                    {% for d in dates %}
                      <th>{{ d|date:"D" }}<br>{{ d|date:"d/m" }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for record in records %}
                    <tr>
                      <td>{{ record.task.project.project_name }}</td>
                      <td>{{ record.task.task_title }}</td>
                      {% for d in dates %}
                        <td>
                          {% if record.date == d %}
                            {{ record.record_name }}
                          {% else %}
                            -
                          {% endif %}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

    </div>
  </div>
</div>
</div>
{% endblock %}