{% extends 'base.html' %} <!-- Extends the base template -->
{% load static %} <!-- Loads static files for images, CSS, etc. -->

{% block title %}Exit Employee List{% endblock %} <!-- Sets the page title -->

{% block content %}


  <!-- Sidebar -->
  {% include 'Side_Navbar.html' %}

  <!-- Content Wrapper -->
  <div class="content-wrapper">

    <!-- Page Header -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
           <h1 class="h4 text-primary">List Of Exit Employee</h1>
          </div>
          <div class="col-sm-6 text-right">
          </div>
        </div>
      </div>
    </section>



    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <!-- Card Header -->
              <div class="card-header">
                <h3 class="card-title">Employee List</h3>
              </div>
              <!-- /.card-header -->

              <!-- Card Body -->
              <div class="card-body" style="overflow-x: auto;">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Profile Image</th>
                      <th>Employee</th>
                      <th>Email</th>
                      <th>Department</th>
                      <th>Role</th>
                      <th>Resignation Date</th>
                      <th>Last Working Date</th>
                      <th>Status</th>

                    </tr>
                  </thead>
                  <tbody>
                    {% for Email in email %}
                    <tr>
                      <!-- Employee Profile Image -->
                      <td>
                        {% if Email.resignation.employee.profile_picture %}
                        <img src="{{ Email.resignation.employee.profile_picture.url  }}"
                             class="img-circle elevation-3"
                             style="width: 50px; height: 50px; object-fit: cover;"
                             alt="User Profile Picture">
                      {% else %}
                        <img src="{% static 'img/Damy.webp' %}"
                             class="img-circle elevation-3"
                             style="width: 50px; height: 50px; object-fit: cover;"
                             alt="Default Profile Picture">
                      {% endif %}
                      </td>
                      <td><a href="{% url 'resign_emp' Email.resignation.id %}" class="text-decoration-none text-primary">{{ Email.resignation.employee.name }}</a><br>
                        <small class="text-muted">{{ Email.resignation.employee.designation.title }}</small>
                      </td>
                       <td>{{ Email.resignation.employee.email }}</td>
                      <td>{{ Email.resignation.employee.department.name }}</td>
                      <td>{{ Email.resignation.employee.role }}</td>
                      <td>{{ Email.resignation.resignation_apply_date  }}</td>
                      <td>{{ Email.resignation.last_working_date }}</td>
                      <td>{{ Email.resignation.status | default:'' }}</td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


</div>
<!-- ./wrapper -->
{% endblock %}
